@import "/src/scss/variables";

.ticket-block {
    position: relative;
    width: 500px;
    transition: 0.3s;

    &__head {
        display: flex;
        background: $blue;
        color: $white;
        justify-content: space-between;
        padding: 3px 10px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);

        &-title-airlines {
            display: flex;
            align-items: center;
            color: $white;
        }

        &-price {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: $white;

            span {
                color: $white;
            }

            p {
                color: $white;
                font-size: 0.6em;
            }
        }
    }

    &__to {
        display: flex;
        flex-direction: column;

        &-direction {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            margin: 7px 20px;

            p {
                margin: 0 5px;
            }

            span {
                color: $blue;
                margin: 0 5px;
            }
        }

        &-data-time {
            display: flex;
            font-size: 14px;
            margin: 7px 20px;

            div {
                display: flex;
            }
        }
    }

    &__to::before {
        content: "";
        display: inline-block;
        position: absolute;
        height: 1px;
        width: 95%;
        margin: auto;
        left: 0;
        right: 0;
        opacity: 0.3;
        top: 80px;
        background: $grey;
    }
}

.ticket-block:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
